html, body {
	margin: 0;
	padding: 0;
}

* { box-sizing: border-box }

.game {
	position: relative;
	height: 80vh;
	width: 100%;
	max-width: 600px;
	background-color: #aa8;
}

.tile {
	position: absolute;
}

.hero {
	background-color: white;
	border: solid 10px #093;
}

.hero-target {
	background-color: #F93;
	border: solid 8px #062;
}

.carton {
	background-color: #C00;
}

.carton-target {
	background-color: #F93
}

.target {
	border: dashed 3px #F93;
	border-style: border-box;
}

.wall {
	background-color: #339;
	border: solid 1px grey;
}

.main-message {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	padding: 30px;
	color: white;
	background: rgba(0, 0, 0, 0.7); 
	border: 1px solid black;
    -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.8);
}

